dist: focal
os: linux
language: node_js
node_js:
  - lts/*
sudo: required
services:
  - docker

before_install:
  - docker build -f Dockerfile.dev -t stephengrider/docker-react .

script:
  - docker run -e CI=true stephengrider/docker-react npm run test