dist: focal
os: linux
language: node_js
node_js:
  - lts/*
services:
  - docker

before_install:
  - docker build -f Dockerfile.dev -t stephengrider/docker-react .

script:
  - docker run -e CI=true stephengrider/docker-react npm run test

deploy:
  provider: elasticbeanstalk
  region: "eu-north-1"
  app: "frontend"
  env: "Frontend-dev"
  bucket_name: "elasticbeanstalk-eu-north-1-146578669912"
  bucket_path: "frontend"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: "$AWS_ACCESS_VALUE"